body {
    background-color: #eef1f1;
  }
.imageContainer > img:hover {
  width: 500px;
  height: 200px;
}

img {
  transition:transform 0.25s ease;
}

img:hover {
  -webkit-transform:scale(1.5); /* or some other value */
  transform:scale(1.5);
}